* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f32b2b;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

/* About section styles */
#about {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Skills section styles */
#skills {
    background-color: #f9f9f9;
    padding: 2rem;
}

#skills h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#skills ul {
    list-style: none;
}

#skills li {
    margin-bottom: 0.5rem;
}

/* Projects section styles */
#projects {
    background-color: #fff;
    padding: 2rem;
}

.project {
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
}

/* Resume section styles */
#resume {
    background-color: #f9f9f9;
    padding: 2rem;
}

/* Contact section styles */
#contact {
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}